CV website/.vscode/
        CV website/gulpfile.js
        CV website/node_modules/
        CV website/package-lock.json
        CV website/package.json
        MyWebsite/
        nullcss.scss
        portfolio/1/.vscode/
        portfolio/1/gulpfile.js
        portfolio/1/node_modules/
        portfolio/1/package-lock.json
        portfolio/1/package.json
        portfolio/1/src/_footer.html
        portfolio/1/src/_header.html
        portfolio/1/src/_map.html
        portfolio/1/src/_picture.html
        portfolio/1/src/_project.html
        portfolio/1/src/_team.html
        portfolio/1/src/_upper.html
        portfolio/1/src/_what-we-do.html
        portfolio/1/src/assets/imgs/arrow.png
        portfolio/1/src/assets/imgs/border.png
        portfolio/1/src/assets/imgs/chair.png
        portfolio/1/src/assets/imgs/close.png
        portfolio/1/src/assets/imgs/cube.png
        portfolio/1/src/assets/imgs/earth.png
        portfolio/1/src/assets/imgs/footer/
        portfolio/1/src/assets/imgs/game.png
        portfolio/1/src/assets/imgs/greybg.jpg
        portfolio/1/src/assets/imgs/lamp.png
        portfolio/1/src/assets/imgs/link.png
        portfolio/1/src/assets/imgs/mouse.png
        portfolio/1/src/assets/imgs/photo1.png
        portfolio/1/src/assets/imgs/photo2.png
        portfolio/1/src/assets/imgs/photo3.png
        portfolio/1/src/assets/imgs/photo4.png
        portfolio/1/src/assets/imgs/photo5.png
        portfolio/1/src/assets/imgs/photo6.png
        portfolio/1/src/assets/imgs/photo7.png
        portfolio/1/src/assets/imgs/picture1.png
        portfolio/1/src/assets/imgs/picture2.png
        portfolio/1/src/assets/imgs/plus.png
        portfolio/1/src/assets/imgs/project.png
        portfolio/1/src/assets/imgs/target.png
        portfolio/1/src/assets/imgs/team.png
        portfolio/1/src/assets/imgs/team/
        portfolio/1/src/assets/imgs/tool.png
        portfolio/1/src/assets/imgs/tree.png
        portfolio/1/src/assets/js/_checkScroll.js
        portfolio/1/src/assets/js/_scrollToPage.js
        portfolio/1/src/assets/js/_sticky.js
        portfolio/1/src/assets/styles/_footer.scss
        portfolio/1/src/assets/styles/_header.scss
        portfolio/1/src/assets/styles/_map.scss
        portfolio/1/src/assets/styles/_media.scss
        portfolio/1/src/assets/styles/_nav.scss
        portfolio/1/src/assets/styles/_picture.scss
        portfolio/1/src/assets/styles/_projects.scss
        portfolio/1/src/assets/styles/_team.scss
        portfolio/1/src/assets/styles/_upper.scss
        portfolio/1/src/assets/styles/_what-we-do.scss
        training/