@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/HelveticaNeueCyr-Roman.ttf), 
         url(/assets/fonts/HelveticaNeueCyr-Roman.woff);
  }

@font-face {
    font-family: 'Helvetica Neue Medium';
    font-style: bold;
    font-weight: 600;
    src: url(/assets/fonts/HelveticaNeueCyr-Medium.ttf), 
         url(/assets/fonts/HelveticaNeueCyr-Medium.woff);
  }