@import "_null";
@import "_font";

body {
  font-family: "Helvetica Neue", sans-serif;
  color: white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 15px #cecece;
}

.leftside {
  display: flex;
  flex-direction: column;
  background-color: #232c39;
  align-items: flex-start;
  overflow: hidden;
  flex: 1 0 auto;
}

.photo {
  padding: 20px 50px;
  width: 100%;
  img {
    max-width: 150px;
    border-radius: 50%;
  }
}

.leftside__stack {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 -5px 20px rgba(8, 8, 8, 0.24);
}

.leftside__block {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  &:last-child {
    margin-bottom: 6px;
    border-bottom: 0;
  }
  &:first-child {
  }
  flex: 1 1 auto;
  border-bottom: 1px solid white;
}
.leftside__block__title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2.4px;
  margin-bottom: 4px;
}

.leftside__block__text {
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}

.rightside {
  color: black;
  display: flex;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.name__title {
  font-size: 30px;
  font-family: "Helvetica Neue Medium";
}

.position {
  font-size: 24px;
}

.name {
}

.rightside {
  padding: 56px 24px;
  color: black;
  max-width: 360px;
  flex: 0 1 auto;
  width: 100%;
}

.experience {
  margin: 24px 0;
}

.experience__text {
  &:last-child {
    margin-top: 24px;
  }
}
.name {
  margin-bottom: 40px;
}

.experience__title,
.education__title {
  margin-bottom: 24px;
}

.experience__text__title {
  font-size: 18px;
  font-family: "Helvetica Neue Medium";
  line-height: 21.6px;
}

.experience__text__subtitle {
  font-size: 16px;
  letter-spacing: 1.6;
  color: #4269a3;
  margin-top: 4px;
  margin-bottom: 6px;
}

.experience__text__date {
  font-size: 14px;
  line-height: 20px;
  color: #a6a6a6;
}

.experience__text__content {
  font-size: 14px;
  line-height: 16.7px;
  color: #3f3f3f;
  font-family: "Helvetica Neue";
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.experience__text__content__item {
  list-style-type: disc;
  color: #3f3f3f;
  font-size: 14px;
  line-height: 16.7px;
  margin-top: 8px;
  &:last-child {
    margin-bottom: 8px;
  }

  &::marker {
    font-size: 20px;
    color: #a6a6a6;
  }
}

.experience__text__date {
  margin-top: 4px;
}

.education {
  margin-top: 26px;
}

.education__univ {
  margin-bottom: 28px;
  font-size: 18px;
  font-family: "Helvetica Neue Medium";
}

.leftside__block {
  &:nth-child(1) {
    li {
      height: 30px;
      padding-left: 33px;
      line-height: 30px;
      &:nth-child(1) {
        background: url(/assets/imgs/logo2.png) left no-repeat;
      }
      &:nth-child(2) {
        background: url(/assets/imgs/logo3.png) left no-repeat;
      }
      &:nth-child(3) {
        background: url(/assets/imgs/logo4.png) left no-repeat;
      }
    }
  }
}

.github {
  width: 70px;
  height: 25px;
  background-color: #232c39;
  color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgb(161, 161, 161);
  transition: .5s;
  &:hover {
    background-color: #4269a3;
    transition: .3s;
  }
}

@media screen and (max-width: 450px) {
  .photo img {
    width: 100%;
    padding: 0;
   
    
  }
  .photo {
    text-align: center;
    padding: 20px;
  }
  
  .leftside {
    flex: 1 1 left;
    width: 160px;
    
    .leftside__stack {
      width: 100%;
      padding: 10px;
    }
  }

  .rightside {
    min-width: 200px;
  }


  .leftside__block {
    &:nth-child(1) {
      
      li {
        
        padding: 0;
        padding-top: 23px;
        margin-bottom: 20px;
        
       
      }
    }
  }


}



@media screen and (max-width: 360px) {

  .leftside {
    width: 150px;
  }

  .rightside {
    min-width: 120px;
    padding: 40px 10px;
    padding-right: 10px;
  }


}