.experience__body {
  display: flex;
}
.experience__item {
  margin-right: 30px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px rgba(236, 236, 236, 0.575);
  &:last-child {
    margin-right: 0;
    .experience__item-p {
      border-left: 1px solid $red;
      padding: 0 30px;
    }
  }
  &:first-child {
    .experience__item-title,
    .experience__item-text {
      border-left: 1px solid $red;
      padding: 0 30px;
    }
    .experience__item-title {
      padding-bottom: 20px;
    }
    .experience__item-date {
      padding: 15px 30px;
    }

    .experience__item-p {
      &:nth-child(1),
      &:nth-child(2) {
        .experience__item-text {
          padding-bottom: 50px;
        }
      }
    }
  }
  &:last-child {
    padding-top: 50px;
    .experience__item-p {
      &:nth-child(1),
      &:nth-child(2) {
        .experience__item-text {
          padding-bottom: 50px;
        }
      }
    }
  }
}
.experience__item-p {
  svg {
    height: 25px;
    width: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: -11px;
    fill: $red;
  }
}
.experience__item-date {
  color: grey;
}
.experience__item-title {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
}
.experience__item-text {
  font-size: 16px;
  color: grey;
}
