.clients__slider {
  display: flex;
  max-width: 800px;
  align-self: center;
  width: 100%;
}
.slider__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;

  img {
    max-width: 120px;
    margin: 0 auto;
  }
}
.slider__title {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0 5px 0;
}
.slider__position {
  font-size: 14px;
  padding-bottom: 30px;
}
.slider__message {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  line-height: 30px;
  font-size: 16px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(201, 201, 201, 0.329);
}

.clients__logos {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;

  img {
    cursor: pointer;
  }

  .logo__item {
    flex: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.splide__pagination li {
  padding-right: 10px;
}

.splide__pagination li button {
  all: unset;
  font-size: 0;
  width: 10px;
  height: 5px;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.splide__pagination__page.is-active {
  all: unset;
  background: $red;
  width: 35px;
  height: 5px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.splide__arrow {
  background-color: $red;
  svg {
    fill: #fff;
    text-shadow: 2px 2px 5px black;
  }
}

.d-none {
  display: none;
}

.splide {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}
