main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  flex-direction: column;
}
.user__photo {
  
  padding-bottom: 15px;
}

.main__user {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  .user__name {
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0 20px 0;
  }
  .user__job {
    font-size: 18px;
    padding-bottom: 35px;
    display: flex;
    p {
      margin-left: 6px;
      --animate-duration: 1.5s;
      z-index: -1;
    }
  }
}

.user__socials {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 200px;
  align-self: center;
  .social__item {
    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      cursor: pointer;
    }
  }
}

button {
  padding: 10px 30px;
  border-radius: 150px;
  font-size: 16px;
  font-weight: 600;
  background-color: $red;
  text-shadow: 2px 2px 4px rgb(95, 95, 95);

  color: #fff;
  background-image: -webkit-linear-gradient(
    45deg,
    $yellow 50%,
    transparent 50%
  );
  background-image: linear-gradient(35deg, $yellow 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  transition: 0.5s;

  &:hover {
    background-position: 0;
  }
}



.main__scroll {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.scroll__text {
  padding-bottom: 10px;
}

.scroll__img {
  align-self: center;
  width: 25px;
  height: 40px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  position: relative;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 3s infinite;
    -webkit-animation: wheel 3s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

.main__bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .bg__item {
    position: absolute;

    svg {
      height: 20px;
      width: 20px;
    }

    &:nth-child(1) {
      fill: $red;
      top: 25%;
      left: 15%;
    }
    &:nth-child(2) {
      fill: $blue;
      top: 45%;
      left: 70%;
      svg {
        transform: rotate(45deg);
      }
    }
    &:nth-child(3) {
      fill: $yellow;
      top: 65%;
      left: 35%;
      svg {
        transform: rotate(-45deg);
      }
    }

    &:nth-child(4) {
      fill: $green;
      top: 85%;
      left: 65%;
      svg {
        transform: rotate(-65deg);
      }
    }

    &:nth-child(5) {
      fill: $yellow;
      top: 55%;
      left: 20%;
      svg {
        transform: rotate(-65deg);
      }
    }

    &:nth-child(6) {
      fill: $blue;
      top: 85%;
      left: 25%;
    }
    &:nth-child(7) {
      fill: $red;
      top: 85%;
      left: 80%;
      svg {
        transform: rotate(15deg);
      }
    }
    &:nth-child(8) {
      fill: $yellow;
      top: 25%;
      left: 60%;
      svg {
        transform: rotate(45deg);
      }
    }

    &:nth-child(9) {
      fill: $red;
      top: 15%;
      left: 30%;
      svg {
        transform: rotate(45deg);
      }
    }

    &:nth-child(10) {
      fill: $blue;
      top: 15%;
      left: 45%;
      svg {
        transform: rotate(45deg);
      }
    }

    &:nth-child(11) {
      fill: $yellow;
      top: 60%;
      left: 65%;
    }
    &:nth-child(12) {
      fill: $blue;
      top: 35%;
      left: 35%;
    }
    &:nth-child(13) {
      fill: $red;
      top: 25%;
      left: 80%;
    }

    &:nth-child(14) {
      fill: $yellow;
      top: 50%;
      left: 85%;
      svg {
        transform: rotate(-175deg);
      }
    }

    &:nth-child(15) {
      fill: $green;
      top: 15%;
      left: 70%;
      svg {
        transform: rotate(145deg);
      }
    }
  }
}
