.plans__body {
  display: flex;
}
.plans__item {
  background-color: white;
  border-radius: 30px;

  flex: 30%;
  padding: 25px;
  box-shadow: 0 0 25px rgba(214, 214, 214, 0.26);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;

  img {
    max-width: 120px;
    width: 100%;
    padding-bottom: 20px;
  }
  &:nth-child(2) {
    z-index: 5;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    .recommend {
      position: absolute;
      transform: rotate(270deg);
      background-color: $blue;
      padding: 10px;
      margin-left: -30px;
      margin-top: -10px;
      border-radius: 20px 0 0 20px;

      color: white;
      z-index: -30;
    }
  }
}
.plans__title {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 30px;
}
.plans__text {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}
.plans__benefit {
  font-size: 16px;

  padding-bottom: 20px;
}
.plans__price {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.price__value {
  font-size: 42px;
  font-weight: 600;
}
.price__text {
  font-size: 16px;
  align-self: flex-end;
  margin-left: 10px;
  padding-bottom: 3px;
}
.price__button {
  width: 200px;
  align-self: center;
}
