.recent__body {
  display: flex;
  flex-direction: column;
}
.recent__menu {
  display: flex;
}
.menu__item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $red;
    transition: 0.3s;
  }
}
.recent__content {
  display: flex;
  flex-wrap: wrap;

  .content__item {
    flex: 30%;
    background-color: white;
    margin: 0 30px 30px 0;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(216, 216, 216, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: background 0.3s ease-in;
    position: relative;
    overflow: hidden;
    p {
      opacity: 1;
      position: absolute;
      font-size: 30px;
      color: white;
      font-weight: 600;
      opacity: 0;
      transition: all 0.3s;
      max-width: 400px;
      padding: 0 50px;
      padding-bottom: 150px;
      z-index: 2;
    }
    .content__item-img {
      width: 350px;
      height: 300px;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content__hover {
      background-color: $blue;
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      opacity: 0;
      transition: all 0.3s;
    }

    svg {
      transition: all 0.3s;
      width: 300px;
      height: 300px;
    }
    &:hover {
      // background-color: $blue;

      .content__hover {
        opacity: 0.7;
      }
      .content__item-img {
        svg {
          width: 350px;
          height: 350px;
        }

        opacity: 0.3;
      }
      p {
        opacity: 1;
      }
    }
  }
}
.recent__button {
  width: 150px;
  align-self: center;
}
