@import "_null";

$red: #ff4c60 !global;
$yellow: #ffd15c !global;
$blue: #6c6ce5 !global;
$green: #44d7b5 !global;
$font: #454360 !global;

@import "_header";
@import "_main";
@import "_about";
@import "_services";
@import "_exp";
@import "_recent";
@import "_plans";
@import "_clients";
@import "_posts";
@import "_contact";
@import "_footer";


body {
  font-family: 'Rubik', sans-serif;
  background-color: #353353;
}


section {
  display: flex;
  background-color: #f9f9ff;
  color: $font;
}

.title {
  padding-top: 100px;
  padding-bottom: 50px;

  h2 {
    font-weight: 600;
    font-size: 38px;
    color: $font;
    margin-top: -30px;
    margin-left: 25px;
  }

  svg {
    height: 50px;
    width: 50px;
    fill: rgb(228, 228, 228);
    z-index: -1;
  }
}

.active {
  color: $red;
}