* {
    font-family: "Montserrat";
    font-weight: 400;
}


.wrapper {
    max-width: 1110px;
    margin: 0 auto;
  }
  
  .text-title {
    font-size: 46px;
    font-weight: 700;
    padding: 100px 0 20px;
  }