@import "_fonts";
@import "_mixins";
@import "_settings";
@import "_vars";
@import "_vendor";
@import "_fonts";
@import "modules/header";
@import "modules/title";
@import "modules/app";
@import "modules/ui";

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}


.text-title {
    font-size: 46px;
    font-weight: 700;
    padding: 100px 0 20px;
    text-align: center;
}

