.map {
    background: url(../../assets/imgs/footer/marker.png);
    width: 100%;
    margin-top: 102px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
  }
  
  .map-img {
    display: none;
  }
  
  .message {
    max-width: 200px;
    align-self: center;
    background-color: #fff;
  }
  
  .contact-icon {
    &:nth-child(2) {
      img {
        padding: 15px 20px;
      }
    }
  
    img {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 15%;
      padding: 15px;
      height: 60px;
    }
  }
  