@import "_null";
@import "_font";


body {
  font-family: 'OpenSans-Light', sans-serif;
}


.upper {
  display: flex;
  flex-direction: column;
}

.upper__header {
  height: 63px;
  max-width: 1158px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 100%;
  
}

.upper-container {
  display: flex;
  background-color: #eceef4;
  justify-content: center;
  
}
.upper__links {
  display: flex;
  align-items: center;

}

.links__item {
  display: flex;
  align-items: center;
  flex: 0 0 100px;
  background-color: #fff;
  margin: 0 4px 0 0;
  height: 32px;
  transition: .5s;
  
  &:hover {
    color: #1faae2;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    transition: .5s;
    
  }

}
.links__logo {
  width: 100%;
  flex: 0 0;
  margin-left: 8px;
}
.links__text {
  
  font-size: 12px;
  font-family: 'OpenSans-Bold', sans-serif;
  width: 100%;
  text-align: center;
  
  
}
.upper__social {
  display: flex;
  align-items: center;
}
.social__item {
  padding: 20px;
  border: 1px solid #dee0e6
  ;
  
}
.upper__body {
  height: 217px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eceef4;;
  
}

.body-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1158px;
  
}
.body__logo {
}
.body__contact {
  display: flex;
  flex-direction: column;
  
}
.contact__message {
  
  text-align: center;
  border: 2px solid #dee0e6;
  padding: 15px 25px;
  margin-bottom: 10px;
  font-family: 'OpenSans-Light', serif;
  font-size: 16px;
  color: #6d6e71;
}
.contact__icons {
  display: flex;
  justify-content: center;
}
.icons__item {
  
  // padding: 0 24px;
  display: flex;
  
  picture {
    margin: auto;
  }
  
  &:after {
  content: '';
  position: relative;
  border: 1px solid #dee0e6;
  height: 22px;
  margin: auto 24px;
  
  
  }
  &:last-child:after {
    display: none;
  }
  

  // margin: -5px 0;
}
.header {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1158px;
  
}
.header__nav {
  display: flex;
  flex-direction: row;
  
  
}
.nav__item {
  border-right: 1px solid #eceef4;
  font-size: 13px;
  font-family: 'OpenSans-Bold', serif;
  padding: 37px 26px;
  color: #6d6e71;
  display: flex;
  transition: 0.1s ease-in;
  background-position: bottom;
  background-size: 0px;
  background-image: url(/assets/imgs/icons/active.png);
  background-repeat: no-repeat;
  
  
  
  &:hover {
    color: #1faae2;
    cursor: pointer;
    background-position: bottom;
    transition: 0.3s ease-out;
    background-repeat: no-repeat;
    background-size: 50px;
    background-image: url(/assets/imgs/icons/active.png);
    
    
    
    // box-shadow: 3px 3px 10px rgb(214, 214, 214);
  }
}

// .active {
//   background-image: url(/assets/imgs/icons/active.png);
//   background-repeat: no-repeat;
//     background-size: 35px;
//     opacity: 1;
// }


.header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  
}
.search__image {
  margin-right: 15px;
}
.search__text {
  
  input {
  font-size: 15px;
  width: 170px;
  text-overflow: ellipsis;
}

 
}

.picture {
  img {
    width: 100%;
  }
}