.customers {
}
.wrapper {
}
.customers__inner {
  margin-bottom: 50px;
}
.customers__text {
  text-align: center;
}
.customers__title {
}

.customers__body {
  max-width: 600px;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 50px;
}
.slider {
  display: flex;
  margin: 0 -20px;
  cursor: grab;
  user-select: none;
  &:active {
    cursor: grabbing;
  }
  width: 100%;
}
.slider__item {
  margin: 0 20px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  
}
.slider__text {
  padding: 20px 20px 10px 20px;

  font-style: italic;
  line-height: 24px;
}
.slider__user {
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.user__photo {
  img {
    max-width: 60px;
    border-radius: 30px;
    margin: 0 20px 0 0;
  }
}
.user__name {
  display: flex;
  flex-direction: column;
}
.user__name-text {
}
.rating {
  img {
    max-width: 100px;
  }
}

.tns-nav {
  text-align: center;

  padding-top: 100px;

  button {
    all: unset;
    width: 12px;
    height: 12px;
    background-color: #e2e2e2;
    margin-right: 15px;
    border-radius: 5px;
    .tns-nav-active {
      all: unset;
      background-color: black;
    }
  }

  .tns-nav-active {
    background-color: grey;
  }
}
