@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
  .title {
    margin-bottom: 100px;
  }
  .app__counter {
    flex-wrap: wrap;
    .counter__item {
      margin: 0;
      padding: 0;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 900px) {
  .landing__inner {
    flex-direction: column;
    .landing__img {
      order: 1;
      align-self: center;

      img {
        margin-bottom: -4px;
      }
    }
  }
}

@media (max-width: 800px) {
  .title__container {
    flex-direction: column;
    .title__img {
      order: -1;
      margin-top: 50px;
    }
    .title__text {
      width: 100%;
      text-align: center;
      .title__buttons {
        justify-content: center;
      }
    }
  }

  .app__inner {
    flex-direction: column;
    .app__img {
      padding: 100px;
    }
  }
  .header {
    nav,
    button {
      display: none;
    }
  }
  .burger {
    display: inline-block;
  }

  form {
    input,
    button {
      width: 250px;
    }
  }
}

@media (max-width: 450px) {
  .app__inner .app__img {
    padding: 0;
  }
  .title__buttons {
    flex-direction: column;
  }
  .app__logos {
    padding: 30px 10px;
  }
  .counter__item {
    font-size: 20px;
    .counter__num {
      font-size: 50px;
    }
  }
  .app__counter {
    padding-bottom: 50px;
  }
  .slider {
    margin: 0 auto;
  }

  .tns-nav {
    padding-top: 50px;
  }
  .text-title {
    padding: 50px 0 20px;
  }

  .title__img {
    margin: 0 -70px;
  }

  .title .wrapper {
    overflow: hidden;
  }
}
