body {
  background-image: url(../img/hero-1.png);
  background-position: top;
  background-repeat: no-repeat;
}

.title {
  
  background-position: 110% 75%;
  
  display: flex;
  align-items: center;
}

.title__container {
  display: flex;
  background-size: contain;
}

.title__text {
  width: 40%;

  h1 {
    font-size: 60px;
    font-weight: 700;
  }
  h2 {
    font-weight: 300;
    font-size: 40px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    &:last-child {
      font-size: 13px;
      font-style: italic;
    }
  }

  .title__buttons {
    display: flex;
    button {
      all: unset;
      cursor: pointer;
      img {
        height: 50px;
        margin-right: 10px;
      }
    }
  }
}


.title__img {
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}